DATABASE_URL="puttheneonorsupabaseconnectstuffhere"
NEXTAUTH_URL="http://forgebywildcardorsomething.com"
NEXTAUTH_SECRET="supersecretcode"
FORGE_RFID_DEVICE_KEY="anothersupersecretcodefromthefirmwarecode"
